@keyframes growBack {
  0% {
  }

  100% {
    background-color: rgb(255, 242, 242);
  }
}

@keyframes growNext {
  0% {
  }

  100% {
    background-color: rgb(160, 160, 160);
  }
}

#back {
  color: rgb(0, 8, 175);
  border: solid;
  border-width: 1;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px;
  margin-top: 35px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 8;
  background-color: white;
}

#back:hover {
  animation-name: growBack;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

#next {
  color: black;
  border: solid;
  border-width: 1;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px;
  margin-top: 35px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 8;
  background-color: rgb(200, 200, 200);
}

#next:hover {
  animation-name: growNext;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
